<div id="login">
  <form action="/create_new_tournament" method="post">
      <h2>Create New Tournament</h2>
      <div>Tournament Name: <input type="text" name="tournament_name" required></div>
      <div>Sport:  <input type="text" name="sport_name" required></div>
      <br/>
      <input type="submit" value="Create">
  </form>
