<div id="login">
  <form action="/create_new_team" method="post">
      <h2>Create New Team</h2>
      <div>Team Name: <input type="text" name="team_name" required></div>
      <div>Sport:  <input type="text" name="sport_name" required></div>
      <br/>
      <input type="submit" value="Create">
  </form>
