<div class = "submission_form_div" id="create_profile_div">
  <form class = "submission_form" id="create_profile" action="/create_profile" method="post">
      <h2>Create User Profile</h2>
      <div>Display Name: <input type="text" name="name"></div>
      <div>Picture URL: <input type="text" name="pfp_url" value="https://d2y8psjfi06mva.cloudfront.net/all-in-one-seo-pack/images/default-user-image.png"></div>
      <div>Interests: <input type="text" name="interests"></div>
      <br/>
      <input type="submit" value="Create New Profile">
  </form>
</div>
