<div id="team_table">
  <div id="heading">
    <div id="heading">
      <h2>{{data.home_team_name}} has {{data.homeWins}} home win(s) against the {{data.visiting_team_name}}.</h2>
    </div>
  </div>
